@media only screen and (min-width: 200px) and (max-width: 576px) {

    /* header */
    .head-container{
        flex-direction: column;
    } 
    .nav-image img{
        width: 45px;
    }
    .nav-image h1{
        font-size: 25px;
    }
    .nav-bar{
        margin: 20px 0;
    }
    .list-items{
        margin-top: 20px;
        flex-direction: column;
        gap: 1.3rem;
    }
    /* banner */
    .banner-container{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 30px 25px;
        padding: 40px 24px;
    }
    .banner-text-container{
        width: 60%;
        gap: 10px;
    }
    #banner-headline{
        text-align: center;
    }
    #banner-sub-title{
        font-size: 30px;
        text-align: center;
    }
    .banner-img-container{
        margin-top: 25px;
    }
    .common-button{
        padding: 8px;
    }
    .products{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products-desc{
        width: 300px;
        height: 450px;
    }
    .pro-img img{
        width: 210px;
    }
    .bottom-part{
        margin: 25px;
    }
    .pro-btn{
        padding: 8px 12px;
    }
    .last-part{
        padding: 20px 25px;
        text-align: center;
        font-size: 0.8rem;
    }

}
