@media only screen and (min-width: 200px) and (max-width: 576px) {
  
    /* header */
    .head-container,   .list-items, .content-heading{
        flex-direction: column;
    }
    .head-container{
        padding: 20px 0;
    }
   
    /* banner */
    .banner-container{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px;
        margin: 0;
        width: 100%;
    }
    .banner-text-container{
        width: 100%;
        text-align: center;
    }
    .banner-img-container{
        width: 80%;
    }

    .products-section{
        margin: 0 20px;
        width: calc(100% - 40px);
    }
    .products{
        grid-template-columns: 1fr;
    }

}
