@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

/* header */
.head-container{
    background-color: #9276de;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    min-height: 100px;
}
.nav-title-section{
    display: flex;
    justify-content: center;
}

.nav-image{
    display: flex;
    align-items: center;
}
.nav-image img{
    width: 60px;
}
.nav-image h1{
    font-size: 30px;
    font-weight: 700;
}
.nav-bar{
    margin: 20px 0;
}
.list-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.list-items a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.nav-button{
    background-color: #e893cf;
    border-radius: 5px;
    padding: 10px 20px;
    width: max-content;
}
.nav-button a{
    color: black;
}

/* banner container */
.banner-container{
    margin: 40px 40px;
    padding: 25px;
    border-radius: 20px;
    background-color: #e6e9eb;
    display: flex;
}
.banner-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner-headline{
    background: linear-gradient(-45deg, #e893cf, #9276de);
    background-clip: text;
    color: transparent;  
    font-size: 50px; 
    padding: 5px;
}
#banner-sub-title{
    font-weight: 500;
}
.banner-img-container{
    width: 50%;
}
.banner-img-container img{
    width: 100%;
    border-radius: 20px;
}
.media-icons{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}
.multi-btn{
    margin-top: 25px;;
}
.common-button{
    background: linear-gradient(-45deg, #e893cf, #9276de);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1rem;
}
/* products section */
.products-section{
    margin: 40px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}
#text-title{
    text-align: center;
}
.products-desc{
    height: 480px;
    width: 350px;
    border-radius: 15px;
    background-color: #e6e9eb;
}
.pro-img{
    text-align: center;
}
.pro-img img{
    width: 250px;
    margin: 10px;
}
.content-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}
.products-number{
    font-size: 0.9rem;
}
.right-side-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bottom-part{
    margin: 30px 25px;
}
.pro-btn{
    margin-top: 25px;
    background: linear-gradient(-45deg, #e893cf, #9276de);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1rem;
}
.last-part{
    height: 40px;
    margin-top: 40px;
    background-color: #9276de;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}