@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
}

/* header */
.head-container{
    background-color: #9276de;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    min-height: 100px;
}
.nav-title-section{
    width: 55%;
}

.nav-image{
    display: flex;
    align-items: center;
}
.nav-image h1{
    font-size: 30px;
    font-weight: 700;
}
.nav-bar{
    width: 70%;
    margin: 20px 0;
}

.list-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-items a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.nav-button{
    background-color: #e893cf;
    border-radius: 5px;
    padding: 10px 20px;
    width: max-content;
}
.nav-button a{
    color: black;
}

/* banner container */
.banner-container{
    margin: 40px 30px 20px;
    padding: 25px;
    border-radius: 20px;
    background-color: #e6e9eb;
    display: flex;
}
.banner-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner-headline{
    background: linear-gradient(-45deg, #e893cf, #9276de);
    background-clip: text;
    color: transparent;  
    font-size: 80px; 
}
#banner-sub-title{
    font-family: "Dancing Script", cursive;
    font-size: 60px;
}
.banner-img-container{
    width: 50%;
}
.banner-img-container img{
    width: 100%;
    border-radius: 20px;
}
.media-icons{
    margin-top: 10px;
    font-size: 40px;
}
.common-button{
    font-size: 13px;
    background: linear-gradient(-45deg, #e893cf, #9276de);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

/* products section */
.products-section{
    padding: 0 25px;
}
.products{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

}
#text-title{
    text-align: center;
}
.products-desc{
    border-radius: 15px;
    background-color: #e6e9eb;
}
.products-desc img{
    width: 80%;
    margin: 0 30px;
    padding: 7px;
}
.content-heading{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.products-number{
    font-size: 1.5rem;
}
.bottom-part{
    margin: 0 20px;
    padding-bottom: 15px;
}
.last-part{
    height: 80px;
    margin: 20px auto 0;
    background-color: #9276de;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}